/* 
0 - 600px:     Phone
600 - 900px:   tab-port
900 - 1200px:  tab-land
1200 - 1800px:  normal destop
1800px +:       big-desktop 

1em = 16px
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #212529;
  box-sizing: border-box; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  padding: 1.5rem 1rem;
  position: fixed;
  width: 100vw; }
  .navbar__logo {
    color: #edf0f1;
    text-decoration: none;
    font-size: 2.3rem; }
    @media (max-width: 37.5em) {
      .navbar__logo {
        font-size: 2rem;
        margin-left: 3rem; } }
  .navbar__list a {
    color: #edf0f1;
    text-decoration: none;
    letter-spacing: .2rem;
    position: relative; }
  .navbar__list li {
    display: inline-block;
    padding: 0 2rem; }
    @media (max-width: 56.25em) {
      .navbar__list li {
        padding: 0 1.5rem; } }
    @media (max-width: 37.5em) {
      .navbar__list li {
        display: block;
        margin: 5rem 0;
        line-height: 3rem; } }
  @media (max-width: 37.5em) {
    .navbar__list {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 7rem;
      left: -100%;
      text-align: center;
      background-color: #212529;
      transition: all .5s; } }

li {
  list-style: none; }

.list li {
  text-transform: uppercase; }

.linkHover a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: .2rem;
  bottom: 0;
  background-color: #edf0f1;
  visibility: hidden;
  transition: all .3s ease-in-out; }

.linkHover a:hover::before {
  visibility: visible;
  width: 100%; }

.checkbtn {
  font-size: 2.5rem;
  color: #edf0f1;
  float: right;
  margin-right: 4rem;
  cursor: pointer;
  display: none; }
  @media (max-width: 37.5em) {
    .checkbtn {
      display: block; } }

#check {
  display: none; }
  @media (max-width: 37.5em) {
    #check:checked ~ .navbar__list {
      left: 0; } }

#background {
  background-image: linear-gradient(rgba(155, 150, 149, 0.8), rgba(246, 243, 243, 0.8)), url(https://images.unsplash.com/photo-1599953941123-8f16f4d399ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  height: 100vh;
  background-size: cover;
  background-position: top; }

.mainContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  margin-bottom: 1.5rem;
  animation: move-in-left 1s ease-out; }
  @media (max-width: 75em) {
    .heading-main {
      letter-spacing: .7rem;
      font-size: 4rem; } }
  @media (max-width: 56.25em) {
    .heading-main {
      letter-spacing: .5rem;
      font-size: 3.5rem; } }
  @media (max-width: 37.5em) {
    .heading-main {
      letter-spacing: .3rem;
      font-size: 3rem; } }

.heading-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .3rem;
  margin-bottom: 2.5rem;
  animation: move-in-right 1s ease-out; }

.heading-list {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem; }
  @media (max-width: 56.25em) {
    .heading-list {
      display: block; } }
  @media (max-width: 37.5em) {
    .heading-list {
      display: block; } }
  .heading-list a {
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s;
    animation: move-in-bottom .5s ease-out; }
    .heading-list a:hover {
      background-position: 100%; }

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.postionSection {
  margin: 0 auto;
  text-align: center;
  line-height: 2.3;
  height: 100vh;
  padding-top: 8rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.sectionExperience {
  color: #fff; }
  @media (max-width: 37.5em) {
    .sectionExperience {
      padding: 0 3rem; } }
  .sectionExperience h1 {
    font-size: 3rem; }
    @media (max-width: 56.25em) {
      .sectionExperience h1 {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .sectionExperience h1 {
        font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .sectionExperience h3 {
      font-size: 1.7rem; } }

.sectionEducation {
  color: #fff; }
  @media (max-width: 37.5em) {
    .sectionEducation {
      padding: 0 3rem; } }
  .sectionEducation h1 {
    font-size: 3rem; }
    @media (max-width: 56.25em) {
      .sectionEducation h1 {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .sectionEducation h1 {
        font-size: 2rem; } }

.sectionSkills {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  line-height: 2.3;
  color: #fff;
  padding-top: 10rem; }

.form {
  padding-top: 8rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.container {
  box-shadow: 0 0 20px #000000;
  background-color: white;
  border-radius: .8rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 50rem;
  padding: 2rem; }

.form-group {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.5rem; }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: .5rem; }

textarea {
  resize: vertical; }

button[type="submit"] {
  width: 100%;
  padding: 1.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: .8rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin-top: 1rem; }

#status {
  width: 90%;
  max-width: 50rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  border-radius: .8rem; }

.success {
  background-color: #d3fa99;
  animation: status 4s ease forwards; }

.error {
  background-color: #fa815c;
  color: white;
  animation: status 4s ease forwards; }

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all; }
  90% {
    opacity: 1;
    pointer-events: all; }
  100% {
    opacity: 0;
    pointer-events: none; } }

.footer {
  background-color: #f5efe1;
  display: flex;
  justify-content: space-around;
  height: 15rem;
  align-items: center; }
  @media (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      justify-content: center; } }
  .footer-item {
    display: inline-block;
    margin: 0 2rem;
    position: relative; }
    @media (max-width: 37.5em) {
      .footer-item {
        margin: 0 1rem; } }
  .footer a {
    color: #212529;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.7rem; }

.footer .backtotop {
  transition: all 1s ease; }
  .footer .backtotop:hover {
    letter-spacing: .15rem; }

.blackUnderline a::before {
  background-color: #212529; }

.showCase {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 8rem; }
  .showCase .right {
    width: 50rem; }
  .showCase .left > button {
    font-size: 2rem; }

.css {
  position: relative;
  width: 200px; }
  .css_btn {
    background-color: #3d3d3e;
    font-size: 1.5rem;
    cursor: pointer; }
    .css_btn:hover {
      background-color: #edf0f1;
      color: #000; }
  .css_btn,
  .css .links {
    padding: 12px;
    border: none;
    outline: none;
    width: 150px;
    color: #fff;
    transition: .3s; }
  .css_list {
    position: absolute;
    color: #fff;
    transition: all 0.4s ease;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s; }
  .css .newlist {
    transform: scaleY(1); }
  .css .links {
    background-color: #edf0f1;
    color: #000;
    font-size: 1.5rem; }
    .css .links:hover {
      background-color: #fff;
      transform: scale(1.1);
      cursor: pointer; }
