$color-main-dark: #212529;
$color-main-light: #edf0f1;
$color-white: #fff;
$color-black: #000;

//Media Query Manager
/* 
0 - 600px:     Phone
600 - 900px:   tab-port
900 - 1200px:  tab-land
1200 - 1800px:  normal destop
1800px +:       big-desktop 

1em = 16px
*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		}
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; //1rem = 10px  10/16 = 62.5%

	@include respond (tab-land) {
		//width <1200
		font-size: 56.25%; //1rem = 9px
	}
	@include respond (tab-port) {
		//width <900
		font-size: 50%; //1rem = 8px
	}
	@include respond (big-desktop) {
		//width <1800
		font-size: 75%; //1rem = 12px
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	background-color: $color-main-dark;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-main-dark;
	padding: 1.5rem 1rem;
	position: fixed;
	width: 100vw;

	&__logo {
		color: $color-main-light;
		text-decoration: none;
		font-size: 2.3rem;

		@include respond (phone) {
			font-size: 2rem;
			margin-left: 3rem;
		}
	}
	&__list {
		a {
			color: $color-main-light;
			text-decoration: none;
			letter-spacing: .2rem;
			position: relative;
		}

		li {
			display: inline-block;
			padding: 0 2rem;

			@include respond (tab-port) {
				padding: 0 1.5rem;
			}
			@include respond (phone) {
				display: block;
				margin: 5rem 0;
				line-height: 3rem;
			}
		}

		@include respond (phone) {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 7rem;
			left: -100%;
			text-align: center;
			background-color: $color-main-dark;
			transition: all .5s;
		}
	}
}

li {
	list-style: none;
}

.list li {
	text-transform: uppercase;
}

.linkHover a::before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: .2rem;
	bottom: 0;
	background-color: $color-main-light;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

.linkHover a:hover::before {
	visibility: visible;
	width: 100%;
}

.checkbtn {
	font-size: 2.5rem;
	color: $color-main-light;
	float: right;
	margin-right: 4rem;
	cursor: pointer;
	display: none;

	@include respond (phone) {
		display: block;
	}
}

#check {
	display: none;
	@include respond (phone) {
		&:checked ~ .navbar__list {
			left: 0;
		}
	}
}

#background {
	background-image: linear-gradient(
			rgba(155, 150, 149, 0.8),
			rgba(246, 243, 243, 0.8)
		),
		url(https://images.unsplash.com/photo-1599953941123-8f16f4d399ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	height: 100vh;
	background-size: cover;
	background-position: top;
}

.mainContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading {
	&-main {
		display: block;
		font-size: 5rem;
		font-weight: 400;
		letter-spacing: 1rem;
		margin-bottom: 1.5rem;

		animation: move-in-left 1s ease-out;

		@include respond (tab-land) {
			letter-spacing: .7rem;
			font-size: 4rem;
		}
		@include respond (tab-port) {
			letter-spacing: .5rem;
			font-size: 3.5rem;
		}
		@include respond (phone) {
			letter-spacing: .3rem;
			font-size: 3rem;
		}
	}

	&-sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: .3rem;
		margin-bottom: 2.5rem;

		animation: move-in-right 1s ease-out;
	}

	&-list {
		display: flex;
		justify-content: space-around;
		margin-top: 8rem;

		@include respond (tab-port) {
			display: block;
		}

		@include respond (phone) {
			display: block;
		}

		& a {
			text-transform: uppercase;
			font-size: 1.8rem;
			padding: 1rem 2.5rem;
			cursor: pointer;
			text-decoration: none;
			color: $color-black;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 50%,
				$color-white 50%
			);
			background-size: 220%;
			transition: all .4s;

			animation: move-in-bottom .5s ease-out;

			&:hover {
				background-position: 100%;
			}
		}
	}
}

@keyframes move-in-left {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move-in-right {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(10rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		background-color: $color-white;
		color: $color-main-dark;
		padding: 1rem 4rem;
		display: inline-block;
		border-radius: 5rem;
		transition: all .3s;
		position: relative;

		animation: move-in-bottom .5s ease-out;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);

		&::after {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($color-black, .2);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: $color-white;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 5rem;
		transition: all .4s;
	}
}

.postionSection {
	margin: 0 auto;
	text-align: center;
	line-height: 2.3;
	height: 100vh;
	padding-top: 8rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.sectionExperience {
	color: $color-white;
	@include respond (phone) {
		padding: 0 3rem;
	}

	h1 {
		font-size: 3rem;
		@include respond (tab-port) {
			font-size: 2.5rem;
		}
		@include respond (phone) {
			font-size: 2rem;
		}
	}
	h3 {
		@include respond (phone) {
			font-size: 1.7rem;
		}
	}
}

.sectionEducation {
	color: $color-white;

	@include respond (phone) {
		padding: 0 3rem;
	}

	h1 {
		font-size: 3rem;
		@include respond (tab-port) {
			font-size: 2.5rem;
		}
		@include respond (phone) {
			font-size: 2rem;
		}
	}
}

.row {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	line-height: 2.3;
	padding-top: 8rem;
	color: $color-white;
}

/* .col-1-of-2 {
	width: calc((100%-2*60)/2);
	float: left;
} */

.form {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	box-shadow: 0 0 20px #000000;
	background-color: white;
	border-radius: .8rem;
	margin-bottom: 2rem;
	margin: 0 auto;
	width: 90%;
	max-width: 50rem;
	padding: 2rem;
}

.form-group {
	width: 100%;
	margin-top: 2rem;
	font-size: 1.5rem;

	input,
	textarea {
		width: 100%;
		padding: .5rem;
		font-size: 1.5rem;
		border: 1px solid rgba(128, 128, 128, 0.199);
		margin-top: .5rem;
	}
}

textarea {
	resize: vertical;
}

button[type="submit"] {
	width: 100%;
	padding: 1.5rem;
	border: none;
	outline: none;
	font-size: 1.5rem;
	border-radius: .8rem;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	margin-top: 1rem;
}

#status {
	width: 90%;
	max-width: 50rem;
	text-align: center;
	padding: 1rem;
	margin: 0 auto;
	border-radius: .8rem;
}

.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
}

.error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
}

@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}
	90% {
		opacity: 1;
		pointer-events: all;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}

.footer {
	background-color: #f5efe1;
	display: flex;
	justify-content: space-around;
	height: 15rem;
	align-items: center;

	@include respond (phone) {
		flex-direction: column;
		justify-content: center;
	}

	&-item {
		display: inline-block;
		margin: 0 2rem;
		position: relative;

		@include respond (phone) {
			margin: 0 1rem;
		}
	}

	a {
		color: $color-main-dark;
		text-decoration: none;
		font-weight: 600;
		font-size: 1.7rem;
	}
}

.footer .backtotop {
	transition: all 1s ease;

	&:hover {
		letter-spacing: .15rem;
	}
}

.blackUnderline a::before {
	background-color: $color-main-dark;
}
