* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	background-color: #212529;
}

#logo {
	color: #edf0f1;
	text-decoration: none;
	font-size: 24px;
}

#navbar a {
	color: #edf0f1;
	text-decoration: none;
	letter-spacing: 2px;
	position: relative;
}

.linkHover a::before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	bottom: 0;
	background-color: #edf0f1;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

.linkHover a:hover::before {
	visibility: visible;
	width: 100%;
}

#navbar li {
	display: inline-block;
	padding: 0px 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #212529;
	padding: 15px 10px;
	position: fixed;
	width: 100vw;
}

li {
	list-style: none;
}

.list li {
	text-transform: uppercase;
}

#background {
	background-image: linear-gradient(
			rgba(155, 150, 149, 0.8),
			rgba(246, 243, 243, 0.8)
		),
		url(https://images.unsplash.com/photo-1599953941123-8f16f4d399ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	height: 100vh;
	background-size: cover;
	background-position: top;
}

.mainContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-main {
	display: block;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 10px;
	margin-bottom: 15px;

	animation: move-in-left 1s ease-out;
}

.heading-sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 25px;

	animation: move-in-right 1s ease-out;
}

@keyframes move-in-left {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move-in-right {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
	color: #212529;
	padding: 10px 40px;
	display: inline-block;
	border-radius: 50px;
	transition: all .3s;
	position: relative;

	animation: move-in-bottom .5s ease-out;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 50px;
	transition: all .4s;
}

.btn:hover::after {
	transform: scale(1.5);
	opacity: 0;
}

.postionSection {
	margin: 0 auto;
	text-align: center;
	line-height: 2.3;
	height: 100vh;
	padding-top: 80px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.sectionExperience {
	color: #fff;
}

.sectionExperience h1 {
	font-size: 30px;
}

.sectionEducation {
	color: #fff;
}

.sectionEducation h1 {
	font-size: 30px;
}

.row {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	line-height: 2.3;
	padding-top: 80px;
	color: #fff;
}

/* .col-1-of-2 {
	width: calc((100%-2*60)/2);
	float: left;
} */

.footer {
	background-color: #f5efe1;
	display: flex;
	justify-content: space-around;
	height: 150px;
	align-items: center;
}

.footer a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
	font-size: 17px;
}

.footer-item {
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.backtotop {
	transition: all 1s ease;
}

.backtotop:hover {
	letter-spacing: 1.5px;
}

.blackUnderline a::before {
	background-color: #000;
}
